<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get instant answers for the most common questions about Twitter and learn how to use 140 characters like a pro.
  <a href="https://support.twitter.com/">Twitter help section</a>.
  
</p>